.dog-preview {
  width: 200px;
  height: 235px;
  font-size: 11px;
  border: 1px solid #e0e0cc;
  line-height: 1;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 6px 1px #d9d6d6;
  padding: 5px;
  section > {
    position: absolute;
    .activities-container {
      position: relative;
      top: -2px;
      width: 30px;
      justify-content: space-between;
    }
  }
  cursor: pointer;
  p {
    margin: 5px 0;
  }
  h2 {
    margin: 5px 0;
    font-size: 15px;
  }
  h5 {
    margin: 2px 0;
    font-size: 12px;
  }
  img {
    max-height: 125.5px;
    object-fit: cover;
  }
  a {
    color: #848cb3;
  }
  &:hover {
    opacity: 0.7;
  }
}
