* {
  box-sizing: border-box;
}

// ::selection {

// }

html {
  font-family: b-regular;
  line-height: 2;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: rgb(245, 243, 243);
}

img {
  width: 100%;
}
