// @font-face {
//   font-family: livvic;
//   src: url(../../assets/fonts/Livvic-Regular.ttf);
// }
@font-face {
  font-family: b-regular;
  src: url(../../fonts/B612-Regular.ttf);
}
@font-face {
  font-family: b-bold;
  src: url(../../fonts/B612-Bold.ttf);
}
// @font-face {
//   font-family: livvic-medium;
//   src: url(../../fonts/Livvic-MediumItalic.ttf);
// }

// @font-face {
//   font-family: montserrat;
//   src: url(../../assets/fonts/Montserrat/Montserrat-Black.ttf);
// }
